* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .slider-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .slider-container::-webkit-scrollbar {
    display: none;
  }
  
  body{
    width: 1630px;
    height: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .slider-container {
    width: 61%; /* 设置容器宽度 */
    overflow-x: scroll;
    white-space: nowrap; /* 禁止换行 */
    position: relative; /* 设置容器为固定定位 */
    top: 1300px; /* 设置容器相对于页面顶部的距离 */
    left: 600px; /* 设置容器相对于页面左侧的距离 */
    /*border: 1px solid #ccc; /* 添加边框样式 */
    padding: 10px; /* 添加内边距 */
    z-index: 5;
}

.slider-item {
    display: inline-block; /* 横向排列 */
    width: 680px; /* 设置每个图片项的宽度 */
    height: 453.36px; /* 设置每个图片项的高度 */
    margin-right: 0px; /* 设置右侧外边距，调整图片之间的间距 */
    background-color: #fb00ff; /* 添加背景颜色，便于查看位置 */
    z-index: 5;
}

.slider-item:last-child {
    margin-right: 0; /* 最后一个图片项去除右侧外边距 */
    z-index: 5;
}

  .custom-video {
    width: 100%; /* 设置视频宽度为容器宽度的百分比 */
    height: 453.36px; /* 设置视频高度为容器高度的百分比 */
    object-fit: contain; /* 控制视频的尺寸以保持原始长宽比 */
  }


  @font-face {
      font-family:'JosefinSans';
      src:url('font/JosefinSans-VariableFont_wght.ttf')
  }

  @font-face {
    font-family:'JosefinSlab';
    src:url('font/JosefinSlab-VariableFont_wght.ttf')
}
  
  /*
  .h1{
      font-size: 65pt; 
      color: rgb(255, 255, 255);
      text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 0.5em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
      position: absolute;
      transform: translate(0,-102px);
      z-index: 3;
  }
  */
  
  
  .section{
      /*font-family:Univers LT Std-XBlackOb;*/
      color: #ffffff;
      /*text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 0.5em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);*/
      position: absolute;
      transform: translate(0,-102px);
      width:100%;
      height: 0vh;
      overflow: hidden;
      white-space: nowrap;
      z-index: 7;
      
  }
  section::before
  {
      content:"";
      position:absolute;
      top:0;
      left :100px;
      width: 100%;
      height: 100%;
      pointer-events: none;
  }
  
  .scroll{
      position: fixed;
      font-family:'JosefinSlab';
      text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(254, 254, 254);
      
      width:calc(100%+400px);
      left: 0px;
      display:flex;
      z-index: 7;
      margin-top: -9px;
  }
  .scroll div{
      position:absolute;
      color:rgb(255, 255, 255);
      font-size: 90pt;
      
      letter-spacing:0em;
      white-space:nowrap;
      animation: animate 60s linear infinite ;
      
      font-weight: 600;
      z-index: 7;
  }
  .scroll div :nth-child(2)
  {
      animation: animate-two 30s linear infinite ;
      animation-delay: 0s;
  }
  @keyframes animate
  {
      0%
      {
          transform: translateX(100%);
      }
      100%{
          transform: translateX(-100%);
      }
  }
  
  
  .scroll-wrap {
      overflow: hidden;
      white-space: nowrap;
  }
  
  h2{
      font-family:'JosefinSans';
      white-space: nowrap;
      position: absolute;
      transform: translate(0,-540px);
      font-size: 65pt;
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  h3{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,-454px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  h4{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,-383px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  h5{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,-313px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  h6{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,-270px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .one{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,32px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .two{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,46px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .three{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,146px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .four{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,246px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }

  .name1{
    font-family:'JosefinSlab-Italic';
    font-size: 14pt;
    position: absolute;
    transform: translate(0,790px);
    color: #ffffff;
    z-index: 4;
  }

  .name2{
    font-family:'JosefinSlab-Italic';
    font-size: 14pt;
    position: absolute;
    transform: translate(0,810px);
    color: #ffffff;
    z-index: 4;
  }

  @font-face {
    font-family:'JosefinSlab-Italic';
    src:url('font/JosefinSlab-Italic-VariableFont_wght.ttf')
}

  .intro{
    font-family:'JosefinSlab';
    font-size: 16.5pt;
    width: 35%;
    position: absolute;
    transform: translate(0,1054px);
    color: #ffffff;
   /* text-shadow: 0.7px 0.7px 0.7px rgb(66, 66, 66), 0 0 1em rgb(66, 66, 66), 0 0 2em rgb(66, 66, 66);*/
    z-index: 4;
  }

  .five{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,346px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 4;
  }
  
  .six{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,446px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 4;
  }
  
  .seven{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,546px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .eight{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,648px);
      color: rgb(255, 255, 255);
      text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      font-weight: bold;
      z-index: 4;
  }
  
  .nine{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,1246px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .ten{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,1346px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .eleven{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,1446px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;
  }
  
  .twelve{
      font-family:'JosefinSans'; 
      font-size: 65pt;
      position: absolute;
      transform: translate(0,1546px);
      color: rgb(255, 255, 255);
      font-weight: bold;
      z-index: 2;  
  }
  
  @font-face {
      font-family:'UniversLTStd-Obl';
      src:url('font/UniversLTStd-Obl.otf');
  }
  
  .sen1{
      font-family:'JosefinSlab-Italic';
      font-style: oblique;
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1320px,-442px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen2{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1347px,-342px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen3{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1388px,-242px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen4{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1378px,-142px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen5{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1347px,-42px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen6{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1382px,58px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen7{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1347px,158px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen8{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1388px,258px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index: 2;
  }
  
  .sen9{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1388px,358px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen10{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1378px,458px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen11{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1358px,558px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen12{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1347px,658px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen13{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1382px,1258px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen14{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1388px,1358px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  
  .sen15{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1378px,1458px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen16{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1382px,1558px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  .sen17{
      font-family:'JosefinSlab-Italic';
      font-size: 16.5pt;
      position: absolute;
      transform: translate(1358px,1658px);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      z-index:2;
  }
  
  
  
  
  
  
  #square17{
    width: 910px;
    height: 455px;
    background-color: rgb(251, 0, 255);
    opacity: 0.8;
    position: relative;
    top: 832px;
    left: 610px;
    z-index: 6;
    transition: opacity 0.3s ease;
  }
  
  #square{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,-503px);
      background: rgb(198, 198, 198);
      overflow-x: hidden;
      z-index: 1;
  
  }
  
  #square1{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,-403px);
      background: rgb(0, 164, 255);
      overflow: hidden;
      z-index: 1;
  
  }
  
  #square2{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,-303px);
      background: rgb(255, 44, 150);
      overflow: hidden;
      z-index: 1;
  
  }
  
  #square3{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,-203px);
      background: rgb(255, 224, 0);
      overflow: hidden;
      z-index: 1;
  
  }
  
  #square4{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,-103px);
      background: rgb(0, 164, 255);
      overflow: hidden;
      z-index: 1;
  
  }
  
  #square5{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,-3px);
      background: rgb(251, 0, 255);
      overflow: hidden;
      z-index: 1;
  
  }
  
  #square6{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,97px);
      background: rgb(0, 164, 255);
      overflow: hidden;
      z-index: 1;
  
  }
  
  #square7{
      width: 1620px;
      height: 101px;
      position: absolute;
      transform: translate(-100px,197px);
      background: rgb(255, 44, 150);
      overflow: hidden;
      z-index: 1;
  }
  
  #square8{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,297px);
      background: rgb(255, 224, 0);
      overflow: hidden;
      z-index: 1;
  }
  
  #square9{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,397px);
      background: rgb(255, 44, 150);
      overflow: hidden;
      z-index: 1;
  }
  
  #square10{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,497px);
      background: rgb(117, 243, 255);
      overflow: hidden;
      z-index: 1;
  }
  
  #square11{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,597px);
      background: rgb(0, 164, 255);
      overflow: hidden;
      z-index: 1;
  }
  
  #square12{
      width: 1620px;
      height: 600px;
      position: absolute;
      transform: translate(-100px,697px);
      background: rgb(251, 0, 255);
      overflow: hidden;
      z-index: 3;
  }
  
  #square13{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,1297px);
      background: rgb(255, 44, 150);
      overflow: hidden;
      z-index: 1;
  }
  
  #square14{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,1397px);
      background: rgb(0, 164, 255);
      overflow: hidden;
      z-index: 1;
  }
  
  #square15{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,1497px);
      background: rgb(251, 0, 255);
      overflow: hidden;
      z-index: 1;
  }
  
  #square16{
      width: 1620px;
      height: 100px;
      position: absolute;
      transform: translate(-100px,1597px);
      background: rgb(198, 198, 198);
      z-index: 1;
  }