
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1630px;
  }

@font-face {
    font-family:'JosefinSans';
    src:url('font/JosefinSans-VariableFont_wght.ttf')
}

@font-face {
    font-family:'Josefinslab';
    src:url('font/JosefinSlab-VariableFont_wght.ttf')
}

/*
.h1{
    font-size: 65pt; 
    color: rgb(255, 255, 255);
    text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 0.5em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    position: absolute;
    transform: translate(0,-102px);
    z-index: 3;
}
*/


.section{
    /*font-family:Univers LT Std-XBlackOb;*/
    color: #ffffff;
    /*text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 0.5em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);*/
    position: absolute;
    transform: translate(0,-102px);
    width:100%;
    height: 0vh;
    overflow: hidden;
    white-space: nowrap;
    z-index: 4;
    
}
section::before
{
    content:"";
    position:absolute;
    top:0;
    left :100px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scroll{
    position: fixed;
    font-family:'Josefinslab';
    text-shadow: 0.7px 0.7px 0.7px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    
    width:calc(100%+400px);
    left: 0px;
    display:flex;
    z-index: 5;
    margin-top: -9px;
}
.scroll div{
    position:absolute;
    color:rgb(255, 255, 255);
    font-size: 90pt;
    
    letter-spacing:0em;
    white-space:nowrap;
    animation: animate 60s linear infinite ;
    
    font-weight: 600;
    z-index: 4;
}
.scroll div :nth-child(2)
{
    animation: animate-two 30s linear infinite ;
    animation-delay: 0s;
}
@keyframes animate
{
    0%
    {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}


.scroll-wrap {
    overflow: hidden;
    white-space: nowrap;
}

h2{
    font-family:'JosefinSans';
    white-space: nowrap;
    position: absolute;
    transform: translate(0,-45px);
    font-size: 65pt;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

h3{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,41px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

h4{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,112.5px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

h5{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,182px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

h6{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,226px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.one{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,1427px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.two{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,541px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.three{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,641px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.four{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,741px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.five{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,841px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.six{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,941px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.seven{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,1041px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.eight{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,1141px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.nine{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,1241px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.ten{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,441px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.eleven{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,1441px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
}

.twelve{
    font-family:'JosefinSans'; 
    font-size: 65pt;
    position: absolute;
    transform: translate(0,1541px);
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;  
}

@font-face {
    font-family:'JosefinSlab-Italic';
    src:url('font/JosefinSlab-Italic-VariableFont_wght.ttf');
}

.sen1{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1320px,52px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen2{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1347px,152px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen3{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1388px,252px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen4{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1378px,352px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen5{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1347px,452px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen6{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1382px,552px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen7{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1347px,652px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen8{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1388px,752px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index: 2;
}

.sen9{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1388px,852px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen10{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1378px,952px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen11{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1358px,1052px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen12{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1347px,1152px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen13{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1382px,1252px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen14{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1388px,1352px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}


.sen15{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1378px,1452px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen16{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1382px,1552px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}

.sen17{
    font-family:'JosefinSlab-Italic';
    font-size: 16.5pt;
    position: absolute;
    transform: translate(1358px,1652px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(100, 100, 100), 0 0 0.7em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    z-index:2;
}








#square{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,-8px);
    background: rgb(198, 198, 198);
    overflow-x: hidden;
    z-index: 1;

}

#square1{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,92px);
    background: rgb(0, 164, 255);
    overflow: hidden;
    z-index: 1;

}

#square2{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,192px);
    background: rgb(255, 44, 150);
    overflow: hidden;
    z-index: 1;

}

#square3{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,292px);
    background: rgb(255, 224, 0);
    overflow: hidden;
    z-index: 1;

}

#square4{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,392px);
    background: rgb(0, 164, 255);
    overflow: hidden;
    z-index: 1;

}

#square5{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,492px);
    background: rgb(251, 0, 255);
    overflow: hidden;
    z-index: 1;

}

#square6{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,592px);
    background: rgb(0, 164, 255);
    overflow: hidden;
    z-index: 1;

}

#square7{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,692px);
    background: rgb(255, 44, 150);
    overflow: hidden;
    z-index: 1;
}

#square8{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,792px);
    background: rgb(255, 224, 0);
    overflow: hidden;
    z-index: 1;
}

#square9{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,892px);
    background: rgb(255, 44, 150);
    overflow: hidden;
    z-index: 1;
}

#square10{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,992px);
    background: rgb(117, 243, 255);
    overflow: hidden;
    z-index: 1;
}

#square11{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,1092px);
    background: rgb(0, 164, 255);
    overflow: hidden;
    z-index: 1;
}

#square12{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,1192px);
    background: rgb(251, 0, 255);
    overflow: hidden;
    z-index: 1;
}

#square13{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,1292px);
    background: rgb(255, 44, 150);
    overflow: hidden;
    z-index: 1;
}

#square14{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,1392px);
    background: rgb(0, 164, 255);
    overflow: hidden;
    z-index: 1;
}

#square15{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,1492px);
    background: rgb(251, 0, 255);
    overflow: hidden;
    z-index: 1;
}

#square16{
    width: 1620px;
    height: 100px;
    position: absolute;
    transform: translate(-100px,1592px);
    background: rgb(198, 198, 198);
    z-index: 1;
}
